<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Palatino+Linotype:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Siyi Tang
              </h1>
              <p style="text-align:center">
                <i>siyitang at stanford dot edu</i>  
              </p>
              <p>I am a PhD student in Electrical Engineering at Stanford University advised by <a href="https://profiles.stanford.edu/daniel-rubin">Prof. Daniel Rubin</a>. My research interests lie in the intersection of <b>machine learning</b> and <b>medicine</b>. I develop machine learning methods for medical applications by leveraging the important characteristics in medical data. I work closely with clinical experts from the Stanford School of Medicine to better understand the clinical needs.
              </p>
              <p>I received my Bachelor's Degree in Electrical Engineering (Highest Distinction Honors) from National University of Singapore, where I was fortunate to be advised by <a href="https://scholar.google.com/citations?hl=en&user=DEgZaUoAAAAJ&view_op=list_works&sortby=pubdate">Prof. Nitish Thakor</a> and <a href="https://scholar.google.com/citations?user=BOUzsU8AAAAJ&hl=en&oi=ao">Prof. Thomas Yeo</a>.
              </p>
              <p style="text-align:center">
                <a href="../pdfs/CV_SiyiTang.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://github.com/tsy935">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=dpRSfnoAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/tangsiyi/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_pic.png">
            </td>
          </tr>
        </table>
        <br>    
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>News</b></h2>
            </td>
          </tr>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'news' %}
          <tr>
            <td style="width:75%;vertical-align:middle">
            <p></p>
              {{ post.excerpt }}  
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>Publications</b></h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.preprint %}
              <a href="{{post.preprint}}">preprint</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>Conference Presentations</b></h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'conference' %}
          <tr>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.preprint %}
              <a href="{{post.preprint}}">preprint</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>About Me</b></h2>
              <p>My Chinese name is 汤斯怡. I grew up in a beutiful city, Zhang Zhou, in Fujian Province of China. I lived in Singapore for 7+ years before coming to Stanford. 
              </p>
              <p>Besides research, I also enjoy photography, cooking and baking, violin and traveling around the world. You can find some of my photography works <a href="https://500px.com/p/tangsiyi1?view=galleries">here</a>.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's</a> and <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's</a> websites
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

